.column {
  float: left;
  word-wrap: break-word;
  overflow: hidden;
  margin: 20px;
}

.column_description {
  width: 40%;
  word-wrap: break-word;
  overflow: hidden;
}

.button_container {
  justify-content: flex-end;
  width: 25%;
}

.button {
  width: 115px;
}

.title {
  height: 20%;
  display: block;
  text-align: center;
}

.description {
  height: 80%;
  display: block;
}
